<div class="container" *ngIf="session_stats">
  <div class="center">
    <mat-card class="card" [style.backgroundColor]="didWin() ? 'green' : 'red'" [style.color]="'white'">
      <mat-card-title>
        <h1>{{'summary.result.title' | translate}}</h1>
      </mat-card-title>
      <mat-card-content>
        <h4>{{getResultText()}}</h4>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title>
        {{'summary.mistakesperkey' | translate}}
      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <b>{{'summary.totalmistakes' | translate }}:</b>
            <p>{{session_stats.mistakesCount}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let mistake of stats.getTopMistakes(session_stats, 10)">
            <b>{{mistake?.key}}:</b>
            <p>{{mistake?.count}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title>
        {{'general.typingspeed' | translate}}
      </mat-card-title>
      <mat-card-content>
        <p>{{session_stats.typeSpeed}}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <nav><a mat-raised-button color="primary" routerLink="/home">{{'summary.backbutton' | translate}}</a></nav>
    </mat-card>
  </div>

</div>

<mat-card class="card" *ngIf="!session_stats">
  <nav><a mat-raised-button color="primary" routerLink="/home">{{'summary.backbutton' | translate}}</a></nav>
</mat-card>
