blaaaaaa
<div class="container">
  <ion-button (click)="sayLine()">SayLine</ion-button>
  <!--Extract grid as a seperate component? NGSwitch for different types of display styles? -->
  <ion-grid>
    <ion-row
      class="text"
      [ngStyle]="{
        'font-size': getStyle().fontSize + 'em',
        'font-family': getStyle().fontFamily
      }"
    >
      <ion-col class="prev">{{ getView().prev }}&lrm;</ion-col>
      <ion-col size="auto" [ngClass]="isInputFocused ? 'highlight' : ''">
        <app-character
          id="inputLetter"
          [character]="getView().curr"
        ></app-character>
      </ion-col>
      <ion-col class="next">&lrm;{{ getView().next }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="setFontSize(getStyle().fontSize - 1)">
    <ion-icon name="remove"></ion-icon>
  </ion-button>

  <ion-button (click)="setFontSize(getStyle().fontSize + 1)">
    <ion-icon name="add"></ion-icon>
  </ion-button>
  <div
    class="center highlight characterhelper"
    *ngIf="getStyle().showHelper"
    [ngStyle]="{ 'font-size': getStyle().fontSize * 0.3 + 'em' }"
  >
    {{ specifyCharacter(getView().curr) }}
  </div>
</div>
