<div
  class="container"
  [ngClass]="style.theme"
  [style.backgroundColor]="shouldFlash() ? '#ec644b' : ''"
  tabIndex="0"
  [attr.aria-label]="getCurrent() + getNext()"
  role="textbox"
  [attr.lang]="getReadingLang()"
>
  <mat-grid-list
    aria-hidden="true"
    cols="9"
    class="viewContainer"
    [rowHeight]="'8rem'"
  >
    <mat-grid-tile class="textTile HUGE" colspan="9" rowspan="3">
      <span class="HUGE prev">{{ getPrev() }}&lrm;</span>
      <span class="HUGE current highlight" color="accent">{{
        getCurrent()
      }}</span>
      <span class="HUGE next">&lrm;{{ getNext() }}</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="9" rowSpan="1" [style.color]="'accent'">
      <h3 class="highlight">{{ getWarningText() }}</h3>
    </mat-grid-tile>
  </mat-grid-list>
</div>
