.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .viewContainer {
    .textTile {
      border-bottom: 5px solid gray;
    }

    .prev {
      width: 100%;
      //text-overflow: ellipsis;
      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
      direction: rtl;
      text-align: right;
    }

    .current {
      overflow: visible;
    }

    .next {
      width: 100%;
      position: relative;
      text-overflow: clip;
      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
      text-align: left;
    }
  }
}
