<div class="mainView" [style.backgroundColor]="session.last_wrong_char != '' ? 'red' : style.activeColorScheme.backgroundColor">
  <mat-grid-list cols="9" class="viewContainer" [rowHeight]="'8rem'">
    <!-- Some hacky stuff like &lrm; and direction: rtl; enabled the seemless transition from prev to current to next -->
    <mat-grid-tile class="textTile HUGE" colspan="9" rowspan=3>
      <span class="HUGE prev" [style.color]="style.activeColorScheme.prev">{{getPrev()}}&lrm;</span>
      <span class="HUGE current" [style.color]="style.activeColorScheme.current">{{getCurrent()}}</span>
      <span class="HUGE next" [style.color]="style.activeColorScheme.next">&lrm;{{getNext()}}</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="9" rowSpan=1 [style.color]="style.activeColorScheme.current">
      <h3>{{getWarningText()}}</h3>
    </mat-grid-tile>

  </mat-grid-list>
</div>
