<div class="container">
  <!--Extract grid as a seperate component? NGSwitch for different types of display styles? -->
  <ion-grid>
    <ion-row *ngIf="getLesson().display === 'image'" class="image">
      <ion-col></ion-col>
      <ion-col>
        <img [src]="getLesson().imgSrc" />
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row
      class="text"
      [ngStyle]="{
        'font-size': getStyle().fontSize + 'em',
        'font-family': getStyle().fontFamily
      }"
    >
      <ion-col class="prev">{{ getView().prev }}&lrm;</ion-col>
      <ion-col size="auto" [ngClass]="isInputFocused ? 'highlight' : ''">
        <app-character
          id="inputLetter"
          [character]="getView().curr"
        ></app-character>
      </ion-col>
      <ion-col class="next">&lrm;{{ getView().next }}</ion-col>
    </ion-row>
  </ion-grid>

  <div
    class="center highlight characterhelper"
    *ngIf="getStyle().showHelper"
    [ngStyle]="{ 'font-size': getStyle().fontSize * 0.3 + 'em' }"
  >
    {{ typingService.specifyCharacter(getView().curr) }}
  </div>
</div>
