.container {
  
  mat-slider {
    width: 80%;
  }
  
  .section {
    padding: 5vh 15vw 5vh 5vw;
    border-bottom: 3px dotted gray;
  }
  
  .titleBar {
    position: relative;
    width: 100%;
  }
  
  mat-expansion-panel {
    margin: 10px;
    position: relative;
    border: 1px solid white;
  }
  
  form {
    width: 80%;
    
    mat-form-field {
      width: 100%;
      
      input {
        width: 100% !important;
      }
    }
  }
  
  .preview {
    padding: 3rem;
    text-align: center;
    
    p,
    span {
      display: inline;
      line-height: 3rem;
      font-size: 3rem !important;
    }
  }
  
  
}