<div class="container" [ngClass]="style.theme">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <h3>Settings</h3>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>


  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'4rem'" [expandedHeight]="'4rem'">
        <mat-panel-title>
          {{'settings.style.title' | translate}}
        </mat-panel-title>
        <!--
        <mat-panel-description  [style.font-size]="style.getFontSize(SIZE.SMALLER)" [style.color]="style.activeColorScheme.prev">
          {{'settings.style.description' | translate}}
        </mat-panel-description>
      -->
      </mat-expansion-panel-header>

      <section class="section">
        <button mat-raised-button color="primary" *ngFor="let theme of style.themes" (click)="changeTheme(theme.id)">{{theme.name}}</button>
      </section>

      <section class="section">
        <h4>{{'settings.style.errorwarning' | translate}}</h4>
        <mat-slide-toggle [(ngModel)]="this.style.warning_flash">{{'settings.style.errorwarning' | translate}}</mat-slide-toggle>
      </section>

      <section class="section">
        <h4>{{'settings.style.fontsize' | translate}}</h4>
        <mat-slider thumbLabel tickInterval="1" [(ngModel)]="style.font" min="20" max="100" step="1"></mat-slider>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'4rem'" [expandedHeight]="'4rem'">
        <mat-panel-title>
          {{'settings.application.title' | translate}}
        </mat-panel-title>
        <!--
        <mat-panel-description  [style.font-size]="style.getFontSize(SIZE.SMALLER)" [style.color]="style.activeColorScheme.prev">
          {{'settings.application.description' | translate}}
        </mat-panel-description>
      -->
      </mat-expansion-panel-header>


      <section class="section">
        <h4>{{'settings.application.files.title' | translate}}</h4>
        <p>{{'settings.application.files.description' | translate}}</p>
        <button mat-raised-button color="primary" (click)="lessons.openDocsFolderInExplorer()">{{'settings.application.files.button' | translate}}</button>
      </section>

      <section class="section">
        <h4>{{'settings.application.lang.title' | translate}}</h4>
        <p>{{'settings.application.lang.description' | translate}}</p>

        <mat-form-field>
          <mat-select placeholder="Language" [(value)]="lang" (selectionChange)="onLangChange()">
            <mat-option *ngFor="let l of langs" [value]="l.id">
              {{ l.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'4rem'" [expandedHeight]="'4rem'">
        <mat-panel-title>
          {{'settings.voice.title' | translate}}
        </mat-panel-title>
        <!--
        <mat-panel-description  [style.font-size]="style.getFontSize(SIZE.SMALLER)" [style.color]="style.activeColorScheme.prev">
          {{'settings.voice.description' | translate}}
        </mat-panel-description>
      -->
      </mat-expansion-panel-header>


      <section class="section">

        <button mat-raised-button color="primary" (click)="reader.save()">{{'settings.voice.control.save' | translate}}</button>
        <h4>{{'settings.voice.control.title' | translate}}</h4>
        <mat-form-field>
          <input matInput placeholder="Enter test phrase" [(ngModel)]="reader.config.test" [ngModelOptions]="{standalone: true}">
          <button mat-raised-button color="primary" (click)="readTest()">{{'settings.voice.control.test' | translate}}</button>
        </mat-form-field>




        <h4>{{'settings.voice.variant' | translate}}</h4>
        <mat-form-field>
          <mat-select placeholder="Speaking voice" [(value)]="reader.config.options.variant">
            <mat-option *ngFor="let variant of reader.variants" [value]="variant.id">
              {{ variant.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Speaking language" [(value)]="reader.config.voice" (selectionChange)="onVoiceChange()">
            <mat-option *ngFor="let voice of reader.voices" [value]="voice.url">
              {{ voice.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <h5>{{'settings.voice.other.amplitude.title' | translate}}</h5>
        <p>{{'settings.voice.other.amplitude.description' | translate}}</p>
        <mat-slider thumbLabel tickInterval="1" [(ngModel)]="reader.config.options.amplitude" min="50" max="200" step="1"></mat-slider>

        <h5>{{'settings.voice.other.pitch.title' | translate}}</h5>
        <p>{{'settings.voice.other.pitch.description' | translate}}</p>
        <mat-slider thumbLabel tickInterval="1" [(ngModel)]="reader.config.options.pitch" min="50" max="200" step="1"></mat-slider>

        <h5>{{'settings.voice.other.speed.title' | translate}}</h5>
        <p>{{'settings.voice.other.speed.description' | translate}}</p>
        <mat-slider thumbLabel tickInterval="1" [(ngModel)]="reader.config.options.speed" min="50" max="400" step="1"></mat-slider>

        <h5>{{'settings.voice.other.volume.title' | translate}}</h5>
        <p>{{'settings.voice.other.volume.description' | translate}}</p>
        <mat-slider thumbLabel tickInterval="1" [(ngModel)]="reader.config.options.volume" min="0" max="1" step="0.1"></mat-slider>

        <h5>{{'settings.voice.other.capitals.title' | translate}}</h5>
        <p innerHTML="{{'settings.voice.other.capitals.description' | translate}}"></p>
        <mat-slider thumbLabel tickInterval="1" [(ngModel)]="reader.config.options.capitals" min="0" max="30" step="1"></mat-slider>


      </section>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="user.loggedInUser">
      <mat-expansion-panel-header [collapsedHeight]="'4rem'" [expandedHeight]="'4rem'">
        <mat-panel-title>
          {{'settings.user.title' | translate}}
        </mat-panel-title>
        <!--
        <mat-panel-description  [style.font-size]="style.getFontSize(SIZE.SMALLER)" [style.color]="style.activeColorScheme.prev">
          {{'settings.user.description' | translate}}
        </mat-panel-description>
      -->
      </mat-expansion-panel-header>

      <section class="section">
        <h4>{{'settings.user.stats.name' | translate}}</h4>
        <span>{{user.loggedInUser.name}}</span>
      </section>

      <section class="section">
        <h3>{{'settings.user.stats.title' | translate}}</h3>

        <h4 [style.font-size]="'4rem'">{{'settings.user.stats.laststats' | translate}}</h4>
        <b>{{'general.typingspeed' | translate}}:</b>
        <p>{{getFormat(user.loggedInUser?.lastSessionStats.typeSpeed)}}</p>
        <b>{{'settings.user.stats.mistakes' | translate}}:</b>
        <p>{{user.loggedInUser?.lastSessionStats.mistakesCount}} ({{getFormat(user.loggedInUser.lastSessionStats.mistakePercentage)}} %)</p>

        <h5>{{'settings.user.stats.mostmistakes' | translate}}</h5>
        <mat-grid-list cols="10" [rowHeight]="'2.5rem'">
          <mat-grid-tile *ngFor="let mistake of stats?.getTopMistakes(user.loggedInUser?.lastSessionStats, 10)">
            <b>{{mistake?.key}}:</b>
            <p>{{mistake?.count}}</p>
          </mat-grid-tile>
        </mat-grid-list>
      </section>

      <section class="section">
        <h4>{{'settings.user.stats.overallstats' | translate}}</h4>
        <b>{{'general.typingspeed' | translate}}:</b>
        <p>{{getFormat(user.loggedInUser.overallStats.typeSpeed)}}</p>
        <b>{{'settings.user.stats.mistakes' | translate}}:</b>
        <p>{{user.loggedInUser.overallStats.mistakesCount}} ({{getFormat(user.loggedInUser.overallStats.mistakePercentage)}} %)</p>

        <h5>{{'settings.user.stats.mostmistakes' | translate}}:</h5>
        <mat-grid-list cols="10" [rowHeight]="'2.5rem'">
          <mat-grid-tile *ngFor="let mistake of stats?.getTopMistakes(user.loggedInUser.overallStats,10)">
            <b>{{mistake?.key}}:</b>
            <p>{{mistake?.count}}</p>
          </mat-grid-tile>
        </mat-grid-list>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</div>
