mat-slider {
  width: 80%;
}

.section {
  padding: 0 15vw 0 5vw;
}

.titleBar {
  position: relative;
  width: 100%;
}

mat-expansion-panel {
  margin: 10px;
  position: relative;
  border: 1px solid white;
}

form {
  width: 80%;

  mat-form-field {
    width: 100%;

    input {
      width: 100% !important;
    }
  }
}

.preview {
  padding: 3rem;
  text-align: center;

  p,
  span {
    display: inline;
    line-height: 3rem;
    font-size: 3rem !important;
  }
}

.voiceSettings {
  .mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
  }
}
