.container {
  .chapterCard {
    padding: 0 15vw 0 5vw;
  }

  .titleBar {
    position: relative;
    width: 100%;

    h1 {
      text-align: center;
    }
  }

  .playTile {
    border: 15px solid white;
    border-radius: 300px;
  }

  mat-expansion-panel {
    margin: 10px;
    position: relative;
  }

  mat-card {
    margin: 10px !important;
    max-width: 80%;
    max-height: 70%;

    mat-card-title {
      font-weight: bold;
    }
  }
}

