<section class="section" *ngFor="let set of allLessons">
  <h2>{{set.name}}</h2>
  <mat-grid-list cols="6" [style.font-size]="'4vh'">
    <div class="row" *ngFor="let chapter of set.chapters; let i = index" (click)="session.loadSession(set, i); goHome()">
      <mat-grid-tile colspan="2">{{chapter.name}}</mat-grid-tile>
      <mat-grid-tile colspan="2">{{chapter.newCharacters}}</mat-grid-tile>
      <!--<mat-grid-tile colspan="4">{{chapter.characters}}</mat-grid-tile>-->
      <mat-grid-tile>{{chapter.intro}}</mat-grid-tile>
      <mat-grid-tile>{{chapter.amount}}</mat-grid-tile>
    </div>
  </mat-grid-list>
</section>
