.titleBar {
  position: relative;
  width: 100%;

  h1 {
    text-align: center;
  }
}

.container {
  height: 100%;
  width: 100%;
}

mat-expansion-panel {
  margin: 10px;
  position: relative;
}

mat-card {
  margin: 10px !important;
  max-width: 80%;
  max-height: 70%;

  mat-card-title {
    font-weight: bold;
  }
}