<div class="container" [ngClass]="style.theme">
  <mat-grid-list cols="2" rowHeight="4rem">
    <mat-grid-tile>
      <button mat-raised-button color="accent" (click)="reloadChapters()">
        <mat-icon>replay</mat-icon>
        {{ getChapterCount() }} {{ 'general.chaptersLoaded' | translate }}
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        (click)="file.openDocsFolderInExplorer()"
        attr.aria-label="{{'chapterView.openFolder'| translate}}"
      >
        <mat-icon>folder</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-expansion-panel *ngFor="let set of allLessons">
    <mat-expansion-panel-header
      [collapsedHeight]="'6rem'"
      [expandedHeight]="'6rem'"
    >
      <mat-panel-title> {{ set.name }} </mat-panel-title>
      <mat-panel-description>
        Chapters: {{ set.chapters?.length }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card *ngFor="let chapter of set.chapters; let i = index">
      <mat-card-content>
        <mat-grid-list cols="10" gutterSize="1rem" rowHeight="7.5rem">
          <mat-grid-tile colspan="3" rowspan="3" class="playTile">
            <button
              mat-icon-button
              color="accent"
              attr.aria-label="
              {{ 'chapterView.startChapter' | translate }}
              {{ chapter.name }}"
              (click)="session.loadSession(set, i); goHome()"
            >
              <mat-icon class="huge">play_arrow</mat-icon>
            </button>
          </mat-grid-tile>
          <mat-grid-tile colspan="7">
            <h3>{{ chapter.name }}</h3>
          </mat-grid-tile>
          <mat-grid-tile colspan="7">
            <p *ngIf="chapter.type === 0">
              {{ 'general.lettertask' | translate }} - <br />
            </p>
            <h4 *ngIf="chapter.newCharacters">{{ chapter.newCharacters }}</h4>
          </mat-grid-tile>
          <!--
            mat-grid-tile *ngIf="chapter.intro && chapter.intro.length > 0" colspan="7">
              <p>Intro: {{ chapter.intro }}</p>
            </mat-grid-tile
          -->
          <mat-grid-tile colspan="7">
            <p>Letter count: {{ chapter.content.length }}</p></mat-grid-tile
          >
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</div>
