<ion-list>
  <ion-item>
    <ion-label>Users</ion-label>
    <ion-select
      [disabled]="getUserlist().length === 0"
      placeholder="Select One"
      name="username"
      [(ngModel)]="userService.username"
      ngDefaultControl
      (ionChange)="login($event)"
    >
      <ion-select-option *ngFor="let user of getUserlist()" [value]="user">
        {{ user }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button expand="block" (click)="newUser()">
      <ion-icon name="add"></ion-icon>
      New user
    </ion-button>
  </ion-item>
</ion-list>
