<ion-grid>
  <ion-row class="io">
    <ion-col size="1"></ion-col>
    <ion-col size="12">
      <span class="HUGE prev">{{ view.prev }}&lrm;</span>
      <span class="HUGE curr">{{ view.curr }}</span>
      <span class="HUGE next">&lrm;{{ view.next }}</span>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>SPACE</ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>

<!--
 [ngStyle]="{ 'font-family': view.getFontFamily() }"
 [ngClass]="view.isInFocus() ? 'highlight' : ''"
-->
