$basecolor: lightgray;
$highlightcolor: yellow;

ion-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0px;
}
.center {
  text-align: center;
}
.text {
  font-size: 3em;
  width: 100%;
  color: var(--ion-color-medium);
}
.highlight {
  color: var(--ion-color-warning);
}
.prev {
  // grid-auto-columns: auto;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  text-align: right;
}

.curr {
  // grid-auto-columns: min-content;
  text-align: center;
}

.next {
  // grid-auto-columns: auto;
  text-align: start;
  width: 100%;
  position: relative;
  text-overflow: clip;
  // text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
