<div class="container">
  <ion-grid>
    <ion-row
      class="text"
      [ngStyle]="{
        'font-size': getStyle().fontSize + 'em',
        'font-family': getStyle().fontFamily
      }"
    >
      <ion-col class="prev">{{ getView().prev }}&lrm;</ion-col>
      <ion-col
        size="auto"
        class="curr"
        [ngClass]="isInputFocused ? 'highlight' : ''"
      >
        <app-character [character]="getView().curr"></app-character>
      </ion-col>
      <ion-col class="next">&lrm;{{ getView().next }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="setFontSize(getStyle().fontSize - 1)">
    <ion-icon name="remove"></ion-icon>
  </ion-button>

  <ion-button (click)="setFontSize(getStyle().fontSize + 1)">
    <ion-icon name="add"></ion-icon>
  </ion-button>
  <div
    class="center curr highlight"
    [ngStyle]="{ 'font-size': getStyle().fontSize * 0.4 + 'em' }"
  >
    {{ specifyCharacter(getView().curr) }}
  </div>
</div>
