<div class="container">
  <div class="courseList">
    <ion-list>
      <ion-list-header color="primary">
        <ion-label>
          <h3>Courses</h3>
        </ion-label>
        <ion-button
          *ngIf="hasChanges()"
          color="tertiary"
          fill="solid"
          strong
          (click)="saveAllToFile()"
          size="small"
        >
          <ion-icon slot="start" name="save"></ion-icon>
          Save changes
        </ion-button>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label color="primary">Select course</ion-label>
        <ion-select
          placeholder="Select One"
          [(ngModel)]="loadedCourse"
          name="Course"
          ngDefaultControl
          [compareWith]="compareWith"
        >
          <ion-select-option *ngFor="let course of courseList" [value]="course">
            <b>{{ course.name }}</b> ({{ course.lessons.length }})
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-button (click)="createCourse()">
          <ion-icon name="add" slot="start"></ion-icon>
          Add new course
        </ion-button>
        <ion-button
          color="danger"
          *ngIf="loadedCourse"
          (click)="deleteCourse(loadedCourse.id)"
        >
          <ion-icon name="trash" slot="start"></ion-icon>
          Delete course
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">
          <ion-icon name="download" slot="start"></ion-icon>
          Import courses (*.ff)
        </ion-label>
        <ion-input
          type="file"
          (change)="chooseFile($event)"
          id="file-input"
          accept=".ff, text/plain"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-button *ngIf="courseList?.length > 0" (click)="exportCourses()">
          <ion-icon name="download-outline" slot="start"></ion-icon>
          Export courses
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="warning" (click)="debug()">
          <ion-icon name="bug" slot="start"></ion-icon>
          Debug
        </ion-button>
        <ion-button color="warning" (click)="loadAllFromFile()">
          <ion-icon name="folder" slot="start"></ion-icon>
          loadAllFromFile
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="warning" (click)="createDefaultCourses()">
          <ion-icon name="folder" slot="start"></ion-icon>
          createDefaultCourses
        </ion-button>
        <ion-button color="warning" (click)="deleteAllTheThings()">
          <ion-icon name="nuclear" slot="start"></ion-icon>
          NUKE
        </ion-button>
      </ion-item>
      <div class="courseSettings" *ngIf="loadedCourse">
        <ion-list-header color="primary">
          <ion-label>
            <h3>Course settings</h3>
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label color="primary">Name</ion-label>
          <ion-input
            name="Name"
            ngDefaultControl
            [(ngModel)]="loadedCourse.name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">ID</ion-label>
          <ion-input
            name="id"
            ngDefaultControl
            [(ngModel)]="loadedCourse.id"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Description</ion-label>
          <ion-input
            name="Description"
            ngDefaultControl
            [(ngModel)]="loadedCourse.description"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Test</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-list-header color="primary">
          <ion-label>
            <h3>Lessons</h3>
          </ion-label>
          <ion-button
            size="small"
            fill="solid"
            color="tertiary"
            (click)="createLesson()"
          >
            <ion-icon name="add" slot="start"></ion-icon>
            Add new lesson
          </ion-button>
        </ion-list-header>
        <ion-item
          *ngFor="let lesson of loadedCourse.lessons"
          [color]="lesson.id === loadedLesson?.id ? 'secondary' : ''"
        >
          <ion-label>{{ lesson.name }}</ion-label>
          <ion-button fill="clear" (click)="loadedLesson = lesson">
            <ion-icon slot="icon-only" name="create-outline"> </ion-icon>
          </ion-button>
          <ion-button
            color="danger"
            fill="clear"
            (click)="deleteLesson(lesson.id)"
          >
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <div class="editorArea">
    <div class="lessonSettings" *ngIf="loadedLesson">
      <ion-list>
        <ion-list-header color="tertiary">
          <ion-label>
            <h3>Lesson settings</h3>
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label color="tertiary">Name</ion-label>
          <ion-input
            name="Name"
            ngDefaultControl
            [(ngModel)]="loadedLesson.name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="tertiary">ID</ion-label>
          <ion-input
            name="id"
            ngDefaultControl
            [(ngModel)]="loadedLesson.id"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="tertiary">Description</ion-label>
          <ion-input
            name="Description"
            ngDefaultControl
            [(ngModel)]="loadedLesson.description"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="tertiary">Test</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Lesson type</ion-label>
          <ion-select
            name="type"
            ngDefaultControl
            compareWith="type"
            [(ngModel)]="loadedLesson.type"
          >
            <ion-select-option
              *ngFor="let type of lessonTypes"
              [value]="type.id"
            >
              {{ type.title }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Lesson display</ion-label>
          <ion-select
            name="display"
            ngDefaultControl
            compareWith="display"
            [(ngModel)]="loadedLesson.display"
          >
            <ion-select-option
              *ngFor="let display of lessonDisplays"
              [value]="display.id"
            >
              {{ display.title }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="loadedLesson.display === 'image'" class="imageArea">
          <ion-input
            type="file"
            (change)="uploadImage($event)"
            id="image-input"
            accept="image/gif, image/jpeg, image/png"
          ></ion-input>
          <img
            *ngIf="loadedLesson.content"
            [src]="loadedLesson.imgSrc"
            style="height: 20vh"
          />
        </ion-item>
        <ion-item class="textArea">
          <ion-label position="floating" color="tertiary">Text</ion-label>
          <ion-textarea
            rows="20"
            name="Content"
            ngDefaultControl
            [(ngModel)]="loadedLesson.content"
            placeholder="Enter the text to be typed here..."
            autoGrow="true"
          ></ion-textarea>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!--
    - multiple boolean checkboxes
    - ion-select for view
    - ion-select for type
    - text-area for text
    - preview?
  -->
</div>
