.container {
  height: 100%;
  width: 100%;
  .courseList {
    height: 100%;
    width: 40%;
    float: left;
    border-right: 1px solid var(--ion-color-step-150);
  }

  .editorArea {
    height: 100%;
    width: 60%;
    float: right;
    .courseSettings {
    }

    .lessonSettings {
    }
    .textArea, .imageArea {
    }
  }
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.list-md {
  padding-top: 0px;
}