.container {
  height: 100%;
  width: 100%;
  .courseList {
    height: 100%;
    width: 30%;
    float: left;
    border-right: 1px solid var(--ion-color-light);
  }

  .editorArea {
    height: 100%;
    width: 70%;
    float: right;
    .courseSettings {
    }

    .lessonSettings {
    }
    .textArea {
    }
  }
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.list-md {
  padding-top: 0px;
}