<ion-list>
  <ion-list-header>
    <ion-label> Quick settings </ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Family</ion-label>
    <ion-select
      placeholder="Select One"
      name="fontFamily"
      lines="none"
      ngDefaultControl
      [(ngModel)]="styleService.style.fontFamily"
      (ionChange)="updateFamily($event)"
    >
      <ion-select-option *ngFor="let font of fonts" [value]="font">
        {{ font }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Size</ion-label>
    <ion-range
      min="0"
      [max]="maxFontSize"
      color="secondary"
      step="0.5"
      pin="true"
      lines="none"
      [(value)]="styleService.style.fontSize"
      (ionChange)="updateSize($event)"
      name="fontSize"
      ngDefaultControl
    >
      <ion-label slot="end">{{ maxFontSize }}</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Show helper</ion-label>
    <ion-toggle
      [(value)]="configService.config.showHelper"
      name="showHelper"
      ngDefaultControl
    >
    </ion-toggle>
  </ion-item>
</ion-list>
