<ion-list>
  <ion-list-header color="tertiary">
    <ion-label> Font </ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Family</ion-label>
    <ion-select
      placeholder="Select One"
      name="fontFamily"
      lines="none"
      ngDefaultControl
      [ngStyle]="{ 'font-family': getConfig().style.fontFamily }"
      [(ngModel)]="getConfig().style.fontFamily"
    >
      <ion-select-option
        *ngFor="let font of fonts"
        [ngStyle]="{ 'font-family': font }"
        [value]="font"
      >
        {{ font }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Size</ion-label>
    <ion-range
      min="0"
      [max]="maxFontSize"
      color="primary"
      step="0.5"
      pin="true"
      lines="none"
      [(ngModel)]="getConfig().style.fontSize"
      name="fontSize"
      ngDefaultControl
    >
      <ion-label slot="end">{{ maxFontSize }}</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Show helper</ion-label>
    <ion-toggle
      [(ngModel)]="getConfig().style.showHelper"
      name="showHelper"
      ngDefaultControl
    >
    </ion-toggle>
  </ion-item>
  <app-theme-switcher></app-theme-switcher>
  <app-dark-mode-toggle></app-dark-mode-toggle>

  <ion-list-header color="tertiary">
    <ion-label> TTS </ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Volume</ion-label>
    <ion-range
      min="0"
      [max]="1.0"
      color="primary"
      step="0.01"
      pin="true"
      lines="none"
      [(ngModel)]="getConfig().tts.volume"
      name="volume"
      ngDefaultControl
    >
      <ion-label slot="end">1.0</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Rate</ion-label>
    <ion-range
      min="0"
      [max]="2.0"
      color="primary"
      step="0.01"
      pin="true"
      lines="none"
      [(ngModel)]="getConfig().tts.rate"
      name="rate"
      ngDefaultControl
    >
      <ion-label slot="end">2.0</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Pitch</ion-label>
    <ion-range
      min="0"
      [max]="2.0"
      color="primary"
      step="0.01"
      pin="true"
      lines="none"
      [(ngModel)]="getConfig().tts.pitch"
      name="pitch"
      ngDefaultControl
    >
      <ion-label slot="end">2.0</ion-label>
    </ion-range>
  </ion-item>

  <ion-item *ngIf="hasChanges()">
    <ion-button color="tertiary" slot="end" (click)="saveConfig()">
      <ion-icon slot="start" name="save"></ion-icon>
      Save
    </ion-button>
  </ion-item>
</ion-list>
