<div class="container"  [ngClass]="style.theme">
  <mat-card>
    <mat-card-title>
      <h2 class="highlight">{{'general.login'|translate}}</h2>
    </mat-card-title>
    <mat-card-content>
      <div class="left">
        <mat-form-field class="full-width-input">
          <input #loginField matInput matAutosize=true maxRows=1 [(ngModel)]="inputField" (keydown)="onKeydown($event)" required />
        </mat-form-field>
      </div>
      <div class="right">
        <button mat-raised-button (click)="onConfirm()" color="primary">{{'general.enter'|translate}}</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
