<div class="container" [style.backgroundColor]="style.activeColorScheme.backgroundColor">
  <mat-card [style.backgroundColor]="style.activeColorScheme.backgroundColor">
    <mat-card-title [style.color]="style.activeColorScheme.current" [style.backgroundColor]="style.activeColorScheme.backgroundColor">
      <h2>Login</h2>
    </mat-card-title>
    <mat-card-content [style.color]="style.activeColorScheme.prev" [style.backgroundColor]="style.activeColorScheme.backgroundColor">
      <div class="left">
        <mat-form-field class="full-width-input">
          <input #loginField matInput matAutosize=true maxRows=1 [(ngModel)]="inputField" (keydown)="onKeydown($event)" required />
        </mat-form-field>
      </div>
      <div class="right">
        <button mat-raised-button (click)="onConfirm()" color="primary">Confirm</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
