<mat-card>
  <mat-card-title [style.color]="style.activeColorScheme.current" [style.backgroundColor]="style.activeColorScheme.backgroundColor">
    <h1>Login</h1>
  </mat-card-title>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field>
          <input #loginField matInput matAutosize=true maxRows=1 placeholder="Enter your name" [(ngModel)]="inputField" (keydown)="onKeydown($event)" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button (click)="onConfirm()"  color="primary">Confirm</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
