mat-card {
  max-width: 80%;
  min-height: 40%;
  margin: 2em auto;
  text-align: center;
}

.full-width-input {
  width: 90%;
}

.left {
  float: left;
  width: 49%;
}

.right {
  float: right;
  width: 49%;
}