<div
  class="container"
  [ngClass]="view.getTheme()"
  [style.backgroundColor]="view.shouldFlash() ? '#ec644b' : ''"
  [attr.lang]="view.getVoiceLang()"
  [attr.aria-label]="view.getAriaLabel()"
  tabIndex="0"
  role="textbox"
  id="inputLetter"
  aria-hidden="false"
  [style.outline]="view.shouldHideFocus() ? 'none' : '1px solid yellow'"
>
  <mat-grid-list
    cols="9"
    class="viewContainer"
    [rowHeight]="'8rem'"
    aria-hidden="true"
  >
    <mat-grid-tile
      class="textTile HUGE"
      colspan="9"
      rowspan="3"
      [ngClass]="view.shouldShowGuideline() ? 'guideline' : ''"
    >
      <span
        class="HUGE prev"
        [ngStyle]="{ 'font-family': view.getFontFamily() }"
      >
        {{ view.getPrev() }}&lrm;
      </span>
      <span
        class="HUGE current"
        [ngClass]="view.isInFocus() ? 'highlight' : ''"
        [ngStyle]="{ 'font-family': view.getFontFamily() }"
      >
        {{ view.getCurrentWithHighlight() }}
      </span>
      <span
        class="HUGE next"
        [ngStyle]="{ 'font-family': view.getFontFamily() }"
      >
        &lrm;{{ view.getNext() }}
      </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="9" rowSpan="1" [style.color]="'accent'">
      <h3 class="highlight" [lang]="view.getTextLang()">
        {{ view.getWarningText() }}
      </h3>
    </mat-grid-tile>
  </mat-grid-list>
</div>
