<div
  class="container"
  [ngClass]="style.theme"
  [style.backgroundColor]="shouldFlash() ? '#ec644b' : ''"
  
  [attr.lang]="getReadingLang()"
  [attr.aria-label]="getCurrentForBraille() + getNext()"
  tabIndex="0"
  role="textbox"
  id="inputLetter"
  aria-hidden="false"
>
  <mat-grid-list cols="9" class="viewContainer" [rowHeight]="'8rem'" aria-hidden="true">
    <mat-grid-tile class="textTile HUGE" colspan="9" rowspan="3">
      <span class="HUGE prev"> {{ getPrev() }}&lrm; </span>
      <span
        class="HUGE current highlight"
        [ngClass]="{ hideFocus: shouldHideFocus() }"
        color="accent"
      >
        {{ getCurrentWithHighlight() }}
      </span>
      <span class="HUGE next"> &lrm;{{ getNext() }} </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="9" rowSpan="1" [style.color]="'accent'">
      <h3 class="highlight" [lang]="translate.currentLang">
        {{ getWarningText() }}
      </h3>
    </mat-grid-tile>
  </mat-grid-list>
</div>
