.container {
  position: fixed;

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 5vh;
    min-height: 20%;

    mat-toolbar {
      position: fixed;
      bottom: 0;
      mat-toolbar-row {
        p {
          margin-top: 0px;
          margin-bottom: 0px;
        }

        .currentChapter {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        mat-progress-bar {
          max-width: 100%;
          height: 50%;
        }
      }
    }
  }
}
