  <mat-expansion-panel id="initFocus" *ngFor="let set of lessons">
    <mat-expansion-panel-header
      [collapsedHeight]="'6rem'"
      [expandedHeight]="'6rem'"
      class="right-aligned-header"
    >
      <mat-panel-title> {{ set.name }} </mat-panel-title>
      <mat-panel-description>
        {{ 'chapterView.chapters' | translate }} {{ set.chapters?.length }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div
      tabindex="0"
      role="button"
      *ngFor="let chapter of set.chapters; let i = index"
      (click)="session.loadSession(set, i); goHome()"
      attr.aria-label="
              {{ 'chapterView.startChapter' | translate }}
              {{ chapter.name }}"
    >
      <mat-card aria-hidden="true">
        <mat-card-header>
          <button
            mat-icon-button
            mat-card-avatar
            color="accent"
          >
            <mat-icon 
            class="playIcon">
              play_arrow
            </mat-icon>
          </button>
          <mat-card-title>
            {{ chapter.name }}
          </mat-card-title>
          <mat-card-subtitle>
            {{'chapterView.letterCount'|translate}}: {{ chapter.content.length }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p *ngIf="chapter.type === 0">
            {{ 'general.lettertask' | translate }} - <br />
          </p>
          <h4 *ngIf="chapter.newCharacters">{{ chapter.newCharacters }}</h4>
          <p *ngIf="chapter.intro && chapter.intro.length > 0">
            Intro: {{ chapter.intro }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
