$md-cdvgreen: (
    50 : #f6f9eb,
    100 : #e9f1cd,
    200 : #dbe8ac,
    300 : #ccde8b,
    400 : #c1d772,
    500 : #b6d059,
    600 : #afcb51,
    700 : #a6c448,
    800 : #9ebe3e,
    900 : #8eb32e,
    A100 : #fdfff6,
    A200 : #eeffc3,
    A400 : #dfff90,
    A700 : #d8ff77,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-cdvblue: (
    50 : #e5f4f3,
    100 : #bee4e1,
    200 : #93d3cd,
    300 : #67c1b8,
    400 : #47b3a9,
    500 : #26a69a,
    600 : #229e92,
    700 : #1c9588,
    800 : #178b7e,
    900 : #0d7b6c,
    A100 : #adfff3,
    A200 : #7affec,
    A400 : #47ffe4,
    A700 : #2dffe0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-cdvpink: (
    50 : #fce5ee,
    100 : #f8bdd4,
    200 : #f392b8,
    300 : #ee669c,
    400 : #ea4586,
    500 : #e62471,
    600 : #e32069,
    700 : #df1b5e,
    800 : #db1654,
    900 : #d50d42,
    A100 : #ffffff,
    A200 : #ffced9,
    A400 : #ff9bb1,
    A700 : #ff819d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-cdvbackground: (
    50 : #e3e7e8,
    100 : #b9c2c5,
    200 : #8a999e,
    300 : #5b7077,
    400 : #375259,
    500 : #14333c,
    600 : #122e36,
    700 : #0e272e,
    800 : #0b2027,
    900 : #06141a,
    A100 : #59cbff,
    A200 : #26bbff,
    A400 : #00a7f2,
    A700 : #0095d9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);