@import 'mixins';

/* Application wide - via x rem adjustable sizes */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}


* {
  /*Replace with your custom font*/
  font-family: Verdana, sans-serif;
  /*Add the !important to overwrite all elements*/

  /* overflow debugging */
  //border: 1px solid #f00 !important;
}


html {
  font-size: 20px;

  .container {
    width: 100%;
    height: 95%;
  }

  mat-slide-toggle, mat-checked, mat-slide-toggle-thumb-container {
    zoom: 10 !important;
  }

  a,
  button,
  mat-button,
  nav {
    font-size: 3rem !important;
    line-height: 3rem !important;
    height: 3.5rem !important;
  }

  h1 {
    font-size: 10rem !important;
    line-height: 10rem !important;
  }

  h2 {
    font-size: 4rem !important;
    line-height: 4rem !important;
  }

  h3,
  mat-card-title,
  mat-expansion-panel-header,
  mat-panel-title {
    font-size: 3rem !important;
    line-height: 4rem !important;
  }

  h4,
  input {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }

  mat-form-field {
    min-width: 50%;
    height: 100%;
  }

  .mat-select-content {
    line-height: 1.5rem !important;
    font-size: 1rem !important;
  }

  .mat-select-panel {
    overflow: visible !important;
  }

  mat-progress-bar {
    height: 2rem !important;
  }

  input {
    border: 1px solid white !important;
    padding: 20px !important;
  }

  h5,
  mat-card-subtitle,
  mat-panel-description {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }

  mat-nav-list {
    a {
      height: 2em !important;
    }
  }

  mat-toolbar {
    min-height: 4rem;

    mat-toolbar-row {
      min-height: 4rem;
    }
  }

  .mat-button-toggle,
  .mat-icon-button,
  .mat-raised-button {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      @include mat-icon-size(2.5rem);
    }

    mat-icon.large {
      @include mat-icon-size(7.5rem);
    }

    mat-icon.huge {
      @include mat-icon-size(25rem);
    }
  }

  b,
  mat-list-item,
  p,
  span {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }

  .HUGE {
    font-size: 20rem !important;
    line-height: 25rem !important;
  }

  .CENTER {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
}
