/* Application wide - via x rem adjustable sizes */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 20px;

  a,
  button,
  mat-button,
  nav {
    font-size: 3rem !important;
    line-height: 3rem !important;
  }

  h1 {
    font-size: 10rem !important;
    line-height: 10rem !important;
  }

  h2 {
    font-size: 6rem !important;
    line-height: 6rem !important;
  }

  h3 {
    font-size: 5rem !important;
    line-height: 5rem !important;
  }

  h4,
  input,
  mat-card-title,
  mat-expansion-panel-header,
  mat-panel-title {
    font-size: 4rem !important;
    line-height: 4rem !important;
  }

  mat-progress-bar {
    height: 2rem !important;
  }

  input {
    border: 1px solid white !important;
    padding: 20px !important;
  }

  h5,
  mat-card-subtitle,
  mat-panel-description {
    font-size: 3rem !important;
    line-height: 3rem !important;
  }

  mat-nav-list {
    a {
      height: 2em !important;
    }
  }

  mat-toolbar {
    min-height: 4rem;

    mat-toolbar-row {
      min-height: 4rem;
    }
  }
  @mixin mat-icon-size($size: 1rem) {
    font-size: $size !important;
    height: $size !important;
    width: $size !important;
  }

  .mat-icon-button,
  mat-icon {
    @include mat-icon-size(4rem);
  }

  b,
  p,
  span {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }

  .HUGE {
    font-size: 20rem !important;
    line-height: 25rem !important;
  }

  .CENTER {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
}

* {
  /*Replace with your custom font*/
  font-family: Verdana , sans-serif;
  /*Add the !important to overwrite all elements*/
}