/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core(); // Typography
$custom-typography: mat-typography-config($font-family: Verdana, $headline: mat-typography-level(24px, 48px, 400), $body-1: mat-typography-level(16px, 24px, 400));
@include angular-material-typography($custom-typography); /*
*
*  DEFAULT THEME
*
*/
$my-app-primary: mat-palette($mat-teal, 700, 100, 800); // Default colors
$my-app-accent: mat-palette($mat-teal, 700, 100, 800);
$my-app-app-warn: mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-app-warn);
@include angular-material-theme($my-app-theme); /*
*
*  DARK THEME
*
*/
$dark-primary: mat-palette($mat-blue-grey); // Dark theme
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  background-color: mat-color($dark-primary);
  border-color: mat-color($dark-accent, A400);
  color: mat-color($dark-primary, 100) !important;

  .highlight {
    color: mat-color($dark-primary, 50) !important;
  }
}
/*
*
*  LIGHT THEME
*
*/
$light-primary: mat-palette($mat-grey, 200, 500, 300); // Light theme
$light-accent: mat-palette($mat-brown, 200);
$light-warn: mat-palette($mat-deep-orange, 200);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
  @include angular-material-theme($light-theme);

  .highlight {
    color: mat-color($light-accent, A400) !important;
  }
}
/*
*
*  Blue and Yellow
*
*/
$by-primary: mat-palette($mat-blue-grey); // Dark theme
$by-accent: mat-palette($mat-amber, A200, A100, A400);
$by-warn: mat-palette($mat-deep-orange);
$by-theme: mat-dark-theme($by-primary, $by-accent, $by-warn);

.by-theme {
  @include angular-material-theme($by-theme);
  background-color: mat-color($by-primary);
  border-color: mat-color($by-accent, A400);
  color: mat-color($by-primary, 100) !important;

  .highlight {
    color: mat-color($by-accent, A400) !important;
  }
}
/*
*
*  TRUE BLACK
*
*/
$true-black-primary: mat-palette($mat-grey); // Dark theme
$true-black-accent: mat-palette($mat-grey, A200, A100, A400);
$true-black-warn: mat-palette($mat-deep-purple);
$true-black-theme: mat-dark-theme($true-black-primary, $true-black-accent, $true-black-warn);

.true-black-theme {
  @include angular-material-theme($true-black-theme);
  background-color: black;
  border-color: mat-color($true-black-accent, A400);
  color: mat-color($true-black-accent, A400) !important;

  .highlight {
    color: white !important;
  }
}
/*
*
*  Dark lime
*
*/
$dl-primary: mat-palette($mat-teal, 900); // Dark theme
$dl-accent: mat-palette($mat-lime, A200, A100, A400);
$dl-warn: mat-palette($mat-green);
$dl-theme: mat-dark-theme($dl-primary, $dl-accent, $dl-warn);

.dl-theme {
  @include angular-material-theme($dl-theme);
  background-color: mat-color($dl-primary);
  border-color: mat-color($dl-accent, A400);
  color: mat-color($dl-primary, 100) !important;

  .highlight {
    color: mat-color($dl-accent, A400) !important;
  }
}